{#<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}

<div class="custom-container nonImageContent">
                      <p style=" font-family: 'Times New Roman', Georgia, Serif;">lalasd ljlasdjla jlasdjalskjd laksjdlaksjdlak jljl lkjasdlk lkasjdlkasjdl kjaslkdjalskdj laksdj alksj LAKJSDLAKSJDLKASJDL KAJSldallasl asdjkasljd lkjlasjdl ajalskdjlaksjdl alaksjdalksdj laskdjalksdj laksjalsdjalskdjalskdjalsk djalsdjalsdj alskdj laskdj alskdj alskdjalskdj laskdjalskd asd asda asd</p>
<p><span>asdasdas asd asd asd aasdas dasdas asd asd asd asd asd asd asd a asd asdasd asd asd asd asdasd asdas asdsa&nbsp;</span><span>asdasdas asd asd asd aasdas dasdas asd asd asd asd asd asd asd a asd asdasd asd asd asd asdasd asdas asdsa&nbsp;</span><span>asdasdas asd asd asd aasdas dasdas asd asd asd asd asd asd asd a asd asdasd asd asd asd asdasd asdas asdsa&nbsp;</span><span>asdasdas asd asd asd aasdas dasdas asd asd asd asd asd asd asd a asd asdasd asd asd asd asdasd asdas asdsa&nbsp;</span></p>
<p><span><img src="C:/Apache24/htdocs_sfny/webfolio/web/uploads/6_20170221_150204.png" width="300" height="374" /></span></p>
<p><span>asd asda dasd asdasd asd asd asd sdfs sdfsd fgdfg &nbsp;dfg dfg dfgd gdfg lkoio ifugo iusoidgu soiduo oiusdf iusd fo</span><span>asd asda dasd asdasd asd asd asd sdfs sdfsd fgdfg &nbsp;dfg dfg dfgd gdfg lkoio ifugo iusoidgu soiduo oiusdf iusd fo</span><span>asd asda dasd asdasd asd asd asd sdfs sdfsd fgdfg &nbsp;dfg dfg dfgd gdfg lkoio ifugo iusoidgu soiduo oiusdf iusd fo</span><span>asd asda dasd asdasd asd asd asd sdfs sdfsd fgdfg &nbsp;dfg dfg dfgd gdfg lkoio ifugo iusoidgu soiduo oiusdf iusd fo</span><span>asd asda dasd asdasd asd asd asd sdfs sdfsd fgdfg &nbsp;dfg dfg dfgd gdfg lkoio ifugo iusoidgu soiduo oiusdf iusd fo</span></p>
                        <a href="#" class="prev">&lsaquo;</a>
                        <div class="carousel"> 
                            
                         {#   C:/Apache24/htdocs_sfny/webfolio/web/uploads/#}